@use 'variables';

.lineup {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        max-width: 1124;
        width: 100%;
    }

    &__title {
        font-family: Sunwish Maverick, sans-serif;
        font-size: 40px;
        color: variables.$green;
        margin: 80px auto;
        text-align: center;

        @media (max-width: 640px) {
            font-size: 20px;
            margin: 24px auto;
        }
    }

    &__moldura {
        position: relative;

        &__bg1 {
            width: 100%;
            margin: auto;
            position: absolute;
            z-index: -1;

            @media (max-width: 640px) {
                display: none;
            }

            &__title {
                z-index: 100;
                position: absolute;
                font-family: Sunwish Maverick, sans-serif;
                font-size: 60px;
                color: variables.$beige;
                left:0;
                right:0;
                top: 36px;
                margin-left:auto;
                margin-right:auto;
                text-align: center;

                @media (max-width: 640px) {
                    position: inherit;
                    color: variables.$green;
                    top: 0;
                    font-size: 40px;
                }

            }

            &__shows {
                padding-top: 122px;

                @media (max-width: 640px) {
                    padding-top: 12px;
                }

                &__artist {
                    margin: 0 20px;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid variables.$green;

                    &--is-alone {
                        justify-content: center;
                    }

                    @media (max-width: 640px) {
                        display: block;
                        border: none;
                        margin: auto 4px;
                    }
                    
                    &__name{
                        border: 2px solid variables.$green;
                        border-top: 0;
                        border-bottom: 0;
                        font-family: Eczar, sans-serif;
                        font-size: 40px;
                        color: variables.$beige;
                        text-shadow: -3px 3px 0px variables.$green, 0 1px variables.$green, 1px 0 variables.$green, 0 -1px variables.$green;;
                        background-color: variables.$orange;
                        padding: 0 80px;

                        @media (max-width: 640px){
                            font-size: 24px;
                            border: 2px solid variables.$green;
                            padding: 0 40px;
                        }
                    }
                }
            }
        }

         &__bg2 {
            width: 100%;
            height: 450px;
            margin: auto;
            position: absolute;
            top: 339px;
            object-fit: cover;
            object-position: top;
            z-index: -1;

            @media (max-width: 640px) {
                display: none;
            }

            &__title {
                z-index: 100;
                position: absolute;
                font-family: Sunwish Maverick, sans-serif;
                font-size: 60px;
                color: variables.$beige;
                left:0;
                right:0;
                top: 374px;
                margin-left:auto;
                margin-right:auto;
                text-align: center;

                @media (max-width: 640px) {
                    position: inherit;
                    color: variables.$green;
                    top: 0;
                    font-size: 40px;
                    padding-top: 24px;
                }
            }
        }
    }

    // @media (max-width: 640px) {
        
    //     display: block;
    //     background-color: red;
    //     &__container {
    //         width: 90%;
    //     }

    //     &__lineup__moldura__bg1__shows__artist{
    //         display: flex;
    //         flex-direction: column;
            
    //         &__name{
    //             font-size: 12px;
    //         }
    //     }
        
    // }
}