@use 'variables';
@use 'hero';
@use 'lineup';
@use 'patrocinadores';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Sunwish Maverick;
    src: url(../../assets/fonts/SunwishmaverickRegular-Rpzne.otf);
    font-weight: 400;
}

body {
    background-color: variables.$beige;
}

.faixa__item{
    width: 100%;
    height: 36px;
}

.onda__item{
    width: 100%;
    height: 174px;
    border-top: 2px solid variables.$green;
}